<%- include('header.ejs'); %>
    <div class="wrap-body">

        <header class="">
            <div class="logo">
                <a href="#">zVintauge</a>
                <span>Collectible Vintage & Antique Photos</span>
            </div>
            <div id="cssmenu" class="align-center">
                <ul>
                    <li class="active"><a href="index.html"><span>Home</span></a></li>
                    <li><a href="gallery.html"><span>Gallery</span></a></li>
                    <li class="has-sub"><a href="archive.html"><span>Blog</span></a>
                        <ul>
                            <li class="has-sub"><a href="#"><span>Item 1</span></a>
                                <ul>
                                    <li><a href="#"><span>Sub Item</span></a></li>
                                    <li class="last"><a href="#"><span>Sub Item</span></a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#"><span>Item 2</span></a>
                                <ul>
                                    <li><a href="#"><span>Sub Item</span></a></li>
                                    <li class="last"><a href="#"><span>Sub Item</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="single.html"><span>About</span></a></li>
                    <li class="last"><a href="contact.html"><span>Contact</span></a></li>
                </ul>
            </div>
            <div id="owl-slide" class="owl-carousel">
                <div class="item">
                    <img src="/zVintauge/images/slide1.jpg" />
                </div>
                <div class="item">
                    <img src="/zVintauge/images/slide2.jpg" />
                </div>
                <div class="item">
                    <img src="/zVintauge/images/slide3.jpg" />

                </div>
            </div>
        </header>
        <!--////////////////////////////////////Container-->
        <section id="container">
            <div class="wrap-container">
                <!-----------------content-box-1-------------------->
                <section class="content-box box-1">
                    <div class="zerogrid">
                        <div class="wrap-box">
                            <!--Start Box-->
                            <div class="box-header">
                                <h2>ABOUT US</h2>
                            </div>
                            <div class="box-content">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla
                                    <br>fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.
                                    Sit amet cursus nisl aliquam. <br>Aliquam et elit eu nunc rhoncus viverra quis at felis.
                                    Sed do
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-----------------content-box-2-------------------->
                <section class="content-box box-style-1 box-2">
                    <div class="zerogrid">
                        <div class="wrap-box">
                            <!--Start Box-->
                            <div class="row">
                                <div class="col-1-3">
                                    <div class="wrap-col">
                                        <article>
                                            <div class="post-thumbnail-wrap">
                                                <a href="single.html" class="portfolio-box">
													<img src="/zVintauge/images/11.jpg" alt="">
													<div class="portfolio-box-second">
														<img src="/zVintauge/images/1.jpg" alt="">
													</div>
												</a>
                                            </div>
                                            <div class="entry-header ">
                                                <h3 class="entry-title">Lovely Smiles</h3>
                                                <div class="l-tags"><a href="#">Design</a> / <a href="#">Illustrations</a></div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-1-3">
                                    <div class="wrap-col">
                                        <article>
                                            <div class="post-thumbnail-wrap">
                                                <a href="single.html" class="portfolio-box">
													<img src="/zVintauge/images/5.jpg" alt="">
													<div class="portfolio-box-second">
														<img src="/zVintauge/images/4.jpg" alt="">
													</div>
												</a>
                                            </div>
                                            <div class="entry-header ">
                                                <h3 class="entry-title">Lovely Smiles</h3>
                                                <div class="l-tags"><a href="#">Design</a> / <a href="#">Illustrations</a></div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-----------------content-box-3-------------------->
                <section class="content-box box-3">
                    <div class="zerogrid">
                        <div class="wrap-box">
                            <!--Start Box-->
                            <div class="box-header">
                                <h2>OUR PHILOSOPHY</h2>
                            </div>
                            <div class="box-content">
                                <div class="row">
                                    <div class="col-1-2">
                                        <div class="wrap-col">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                                                enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                                                nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                                                in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                                                eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                                qui blandit praesent luptatum zzril.</p>
                                        </div>
                                    </div>
                                    <div class="col-1-2">
                                        <div class="wrap-col">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                                                enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                                                nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                                                in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                                                eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                                                qui blandit praesent luptatum zzril.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <blockquote>
                                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
                                            vultatup duista.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-----------------content-box-4-------------------->
                <section class="content-box box-style-1 box-4">
                    <div class="zerogrid" style="width: 100%">
                        <div class="wrap-box">

                        <% for(var index = 0; index < articles.length; index++){ %>
                            <% var article = articles[index]; %>
                            <% var images = article.images.split("\n"); %>
                            <% if(index % 2 === 0){ %>

                            <div class="row">
                                <article>
                                    <div class="col-1-2">
                                        <img src="<%= images[0] %>" alt="">
                                    </div>
                                    <div class="col-1-2">
                                        <div class="entry-content t-center">
                                            <h3><%= article.title %></h3>
                                            <p><%= article.content %></p><a class="button" href="single.html">Read More</a>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <% }else{ %>

                            <div class="row">
                                <article>
                                    <div class="col-1-2 f-right">
                                        <img src="<%= images[0] %>" alt="">
                                    </div>
                                    <div class="col-1-2">
                                        <div class="entry-content t-center">
                                            <h3><%= article.title %></h3>
                                            <p><%= article.content %></p>
                                            <a class="button" href="single.html">Read More</a>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <% } %>


                       <% } %>
                          
                            
                            
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <%- include('footer.ejs'); %>